.navbar{
    background-color:#7c7bad;
    border:none;
}

.navbar .navbar-collapse ul li a{
    color:white;
}

.navbar .navbar-collapse ul li a:hover{
    color:black!important;
    background-color:white!important;
    font-decoration:underline!important;
}

.dropdown-menu{
    background-color:#7c7bad;
}

.navbar .navbar-collapse ul li.active > a{
    color:black;
    background-color:#7c7bad!important;
}

.dropdown-menu li a:hover{
    color:black!important;
}