.navbar{
    background-color:#7c7bad;
    border:none;
}

.navbar .navbar-collapse ul li a{
    color:white;
}

.navbar .navbar-collapse ul li a:hover{
    color:black!important;
    background-color:white!important;
    font-decoration:underline!important;
}

.navbar .navbar-collapse .dropdown-menu{
    background-color:#7c7bad;
}

.navbar .navbar-collapse ul li.active > a{
    color:black;
    background-color:#7c7bad!important;
}

.dropdown-menu li a:hover{
    color:black!important;
}

.o_mail_navbar_dropdown_top, .o_mail_navbar_dropdown_channels{
    background-color:white!important;
}

.settings_tab{
    background-color:#7c7bad!important;
}

.app_name{
    color:white!important;
}

.o_mail_chat_sidebar, .o_tooltip_parent{
    background-color:#7c7bad!important;
}

.o_mail_sidebar_title h4 b{
    color:white!important;
}

.o_add{
    color:white!important;
}