.navbar{
    background-color:white;
    border-bottom:none;
}

.col-md-1, .col-md-2{
    word-wrap:break-word;
}

.bs-sidebar{
  z-index : 1;
  background-color: #f7f5fa;
  border-radius: 5px;
  position:fixed;
}

#menu_title:hover{
    background-color:transparent;
}

.dialog-list{
    list-style-type:none;
    margin-right:35px;
<<<<<<< HEAD
}
#top_menu li.active a{
    background-color:#bfbfbf!important;
    color:white;
    border:none;
}

.o_main_navbar{
    background-color:#bfbfbf!important;
    color:white;
    border:none;
=======
>>>>>>> 44ebea3... [UPD]
}